<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Practice Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js" defer></script>
  </head>
  <body>
    <h1>Hello from HTML!</h1>
    <div id="app">
      {{ message }}
      <input type="text" v-model="newSport"/>
      <button v-on:click="addNewSport">Add Sport to List</button>
      <div><ol>
      <li v-for="sport in sports">{{ sport }}</li></ol>
    </div>
    </div>
    <div id="app-2">
      <p>
        {{ message }}
      </p>
      <button v-on:click="reverseMessage">Reverse Message</button>
    </div>
    <div id="app-3">
      <p>{{ message }}</p>
      <input type="image"  v-model="message">
    </div>
  </body>
</html>